
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}
li{
    list-style: none;
}

html {
    font-size: 10px;
    background-color: #21212157;
}
.first_part{
    width: 100%;
    display: block;
    height: 67rem;
    background: url("../img/img1.jpg") no-repeat;
    background-size: cover;
}
.nav{
    width: 100%;
    height: 9.9rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    &_col_logo{
        margin: 3.8rem;
        margin-left: 10rem;
        img{
            display:block;
        }
    }
}
.menu{
    width: 100%;
    margin: 3.8rem;
    margin-left: 52rem;
    margin-right: 10rem;
    &_line{
        display:flex;
        justify-content: space-between;
        span{
            text-align: center;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.12rem;
            font-weight: bold;
            color: white;
            &:hover{
                color: #10c9c3;
            }
        }
    }
}
#burger{
    display:none;
}
.wdad{
    position: relative;
    width: 100%;
    padding: 12rem;
    &_article{
        max-width: 50rem;
        &_header{
            margin: 1.6rem; 
            p{
                width: 100%;
                font-family: 'Montserrat', sans-serif;
                font-size: 3.8rem;
                font-weight: 900;
                letter-spacing: 0.4px;
                text-align: left;
                color: #1d1d1d;
            }
        }
        &_text{
            padding: 1.6rem;
            p{
                font-family: 'NunitoSans', sans-serif;
                font-size: 1.8rem;
                line-height: 1.56;
                letter-spacing: 0.1px;
                text-align: left;
                color: #d1d1d1;
            }
        }
    }
}
.button_contact_us{
    width: 18rem;
    height: 5.4rem;
    background-color: #10c9c3;
    margin: 1.6rem;
    button {
        border: none;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1.2px;
        text-align: center;
        background-color: #10c9c3;
        span{
            color: #ffffff;
            width:100%;
            max-height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
        }
    }
}
.second_part{
    height: 42rem;
    background-color: #ffffff;
}
.about_us{
    max-width: 62rem;
    margin: 0 auto; 
    padding: 10rem 0 10rem;
    &_header {
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            font-weight: 900;
            letter-spacing: 0.3px;
            text-align: center;
            color: #191919;
        }
    }
    &_text{
        margin-top: 4.1rem;
        p{
            font-family: 'NunitoSans', sans-serif;
            font-size: 1.6rem;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 0.1px;
            text-align: center;
            color: #787878;
        }
    }
    &_signature{
        width: 11.5rem;
        margin: 3.7rem auto;
    }
}

.third_part{
    display: flex;
    width: 100%;
    height: 57rem;
    background: rgb(248, 249, 249);
}
.empty_bg{
    width: 100%;
    background: url("../img/img3.jpg") no-repeat;
    background-size: cover;
}
.percent{
    background-color: black;
    width: 50rem;
    height: 3px;
    z-index: 0;
}
.leftside1{
    background-color: #10c9c3;
    height: 100%;
    width: 0%;
    z-index: 5;
    transform: scaleY(1.5);
    animation: percent-animation1 5s linear;
    animation-fill-mode: forwards;
}
.leftside2{
    background-color: #10c9c3;
    height: 100%;
    width: 0%;
    z-index: 5;
    transform: scaleY(1.5);
    animation: percent-animation2 5s linear;
    animation-fill-mode: forwards;
}
.leftside3{
    background-color: #10c9c3;
    height: 100%;
    width: 0%;
    z-index: 5;
    transform: scaleY(1.5);
    animation: percent-animation3 5s linear;
    animation-fill-mode: forwards;
}
.prof_skills{
    width: 100%;
    padding: 16rem 9rem;
    &_header{
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 2.3rem;
            font-weight: 900;
            letter-spacing: 0.3px;
            text-align: left;
            color: #171717;
        }
    }
}
.design, .web, .marketing{
    p{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 1.2px;
        text-align: left;
        color: #000000;
        padding-top: 4rem;
        padding-bottom: 1.9rem;
    }
}
.marketing{
    p{
        text-transform: uppercase;
    }
}

.fourth_part{
    background-color: #10c9c3;
}
.container4{
    padding: 10rem;
    display: flex;
    justify-content: space-around;
}
.projects, .hours, .feedback, .clients{
    display: flex;
}
.number{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
}
.name{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
}
.logo{
    padding-right: 2.8rem;
    display: block;
}
.fifth_part{
    width: 100%;
    height: 60rem; 
    display: flex;
    flex-wrap: wrap;
}
.pic_cube{
    width: 25%;
    height: 30rem;
    background: url("../img/brain.jpg") no-repeat;
    background-size: cover; 
    &:hover{
        transform: scale(1.05);
    }
}
.transparent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    img{
        padding: 10rem;
        margin: auto 0;
        display: none;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.5);
        img{
            display: block;
        }
    }
}
.sixth_part{
    width: 100%;
    height: 10rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    a{
        margin: auto 0;
    }
    p{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 1.2px;
        text-align: left;
        color: #8e8e8e;
    }
}

.seventh_part{
    width: 100%;
    height: 93rem;
}
.owp{
    margin: 10rem auto 0;
    width: 50rem;
}
.owp_header{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.3px;
    text-align: center;
    color: #191919;
    padding-bottom: 4rem;
}
.owp_text{
    font-family: 'NunitoSans', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.1px;
    text-align: center;
    color: #787878;
}
.video{
    max-height: 57.1rem;
    width: 100%;
    padding: 5.7rem 9.8rem 10rem 9.8rem;
    video{
        max-width: 117rem;
        display: block;
    }
}








@media screen and (max-width: 1000px){
    .menu_line span{
        display: none;
    }
    .menu{
        position: relative;
    }
    #burger{
        display:block;
        font-size: 2.5rem;
    }
}

@import 'animation';